<header>
    <nav>
        <ul class="menu-left">
            <li><img src="./images/logo_trans.png" alt="Hauptseite Bild" id="logo">
            </li>
            <li><a href="/alle_blog_artikel.html">Home</a></li>
            <li><a href="/artikel_erstellen.html">Artikel erstellen</a></li>
            <li><a href="/mitglieder_liste.html">Mitglieder</a></li>
        </ul>
        <ul class="menu-right">
            <li id="logout">
                <a href="#" hx-post="http://localhost:8080/logout"
                   nunjucks-template="logout-triggered"
                   hx-target="#logout">Logout</a>
            </li>

        </ul>
    </nav>
</header>

<template id="logout-triggered" class="logout-message">
    Sie werden <strong>ausgeloggt ...</strong>
    <span>Auf Wiedersehen, {{username}}</span>
    {{redirect("index.html",1000)}}
</template>