<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog-Artikel</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>

    <link rel="stylesheet" href="alle_blog_artikel.css">
</head>


<body hx-ext="client-side-templates, response-targets, json-enc">


<div hx-trigger="load"
     hx-get="http://localhost:8080/user"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}
    {% include "templates/navbar.html" %}

    <h1>Willkommen auf unserer Plattform!</h1>

    <div hx-get="http://localhost:8080/artikel"
         hx-target="#Eintrag"
         nunjucks-template="Blog-template"
         hx-trigger="load"></div>
    <section id="Eintrag">
        <!-- Hier werden die Blogeinträge geladen -->
    </section>
</template>


<template id="Blog-template">
    {% for eintrag in list() %}

    <article>

        <h2>{{ eintrag.titel }}</h2>
        <p class="autor-info"><em>{{ eintrag.verfasser.username }}</em> <span>{{eintrag.datum}}</span></p>
        <img src="{{ eintrag.bildUrl }}" alt="{{eintrag.titel}}">
        <p>{{ eintrag.inhalt }}</p>

        <section class="kommentare">
            {% for kommentar in eintrag.kommentare %}
            <div class="kommentar">

                <p class="kommentar-autor">{{ kommentar.verfasser.username }}
                    <span class="kommentar-datum">{{ kommentar.datum }} </span>
                    <span class="bearbeiten-symbol">&#9998;</span>
                    <span class="löschen-symbol">&#10007;</span>
                </p>

                <p class="kommentar-inhalt">{{ kommentar.inhalt }} </p>

            </div>
            {% endfor %}
        </section>

        <form hx-post="http://localhost:8080/kommentar" hx-target="#Eintrag" nunjucks-template="Blog-template">
            <input type="hidden" name="blogArtikelId" value="{{ eintrag.id }}">
            <textarea name="inhalt" placeholder="Ihr Kommentar" required></textarea>
            <input type="submit" value="Kommentar hinzufügen">
        </form>

    </article>

    {% endfor %}
</template>

</body>

</html>
