<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mitglieder</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>
    <link rel="stylesheet" href="artikel.css">
</head>
<body hx-ext="client-side-templates, response-targets, json-enc">
<div class="navbar">
    <a href="home.html">Startseite</a>
</div>
<h1>Willkommen zum Blog</h1>
<div hx-get="http://localhost:8080/artikel"
     hx-target="#Eintrag"
     nunjucks-template="Blog-template"
     hx-trigger="load"></div>
<section id="Eintrag">
    <!-- Hier werden die Blogeinträge geladen -->
</section>

<template id="Blog-template">
    {% for eintrag in list() %}
    <article>
        <h2>{{ eintrag.titel }}</h2>
        <p>{{ eintrag.inhalt }}</p>
        <div><img src="{{ eintrag.bildUrl }}" width="500rem" alt="{{eintrag.titel}}"></div>

        <section class="kommentare">
            {% for kommentar in eintrag.kommentare  %}
            <div class="kommentar">
                <p>{{ kommentar.verfasser.username }}: {{ kommentar.inhalt }}</p>
                <span>{{ kommentar.datum }}</span>
            </div>
            {% endfor %}
        </section>

        <!-- Das Formular sendet den Kommentar und aktualisiert die ganze Artikel- und Kommentarliste -->
        <form hx-post="http://localhost:8080/kommentar" hx-target="#Eintrag" nunjucks-template="Blog-template">
            <input type="hidden" name="blogArtikelId" value="{{ eintrag.id }}">
            <textarea name="inhalt" placeholder="Ihr Kommentar" required></textarea>
            <input type="submit" value="Kommentar hinzufügen">
        </form>
        <hr>
    </article>
    {% endfor %}
</template>

</body>
</html>
