/* Allgemeine Stile */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
#logo {
    width: 30px;
    height: 26px;
    margin-bottom: -6px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.menu-left, .menu-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

header nav ul li {
    display: inline;
    margin-left: 15px;
}

header nav a {
    text-decoration: none;
    color: #1da1f2;
    font-weight: bold;
    font-size: 1em;
    padding: 5px 12px;
    border-radius: 0px; /* Standardmäßig keine abgerundeten Ecken */
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s, padding 0.3s; /* Übergänge für mehrere Eigenschaften */
}

header nav a:hover {
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 20px; /* Abgerundete Ecken beim Hover */
    padding: 5px 12px; /* Konsistentes Padding */
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

/* Spezifische Stile für Benutzerverwaltung */
#create-post {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-content {
    height: 35vh;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

h2 {
    color: #333;
    text-align: center; /* Zentriert den Titel */
}

input[type="text"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

textarea {
    height: 200px;
}

.is-invalid {
    border: 2px solid red;
}

input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
    border-color: #aaa;
}

button, .button {
    display: inline-block;
    background: #1da1f2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="button"] {
    background: #666;
}

button[type="button"]:hover {
    background: #555;
}

.post-response-message {
    margin-top: 30px;
    text-align: center; /* Text zentrieren */
    font-size: 1.5em; /* Schriftgröße anpassen */
    color: #333; /* Textfarbe */

    max-width: 80%; /* Maximale Breite */
    margin-left: auto; /* Zentrierung */
    margin-right: auto; /* Zentrierung */
}

