<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neuer Post</title>

    <!-- Externe Skripte -->
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>

    <!-- Stylesheet-Verlinkung -->
    <link rel="stylesheet" href="artikel_erstellen.css">
</head>

<body hx-ext="client-side-templates,response-targets,json-enc">


<div hx-trigger="load"
     hx-get="http://localhost:8080/user"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}
    {% include "templates/navbar.html" %}

    <h1>Erstelle einen Post</h1>

    <div id="create-post">

        <form id="post-form"
              hx-post="http://localhost:8080/artikel"
              nunjucks-template="post-response-template"
              hx-target="#post-response-message"
              >
            <div>
                <label for="post-title">Titel:</label>
                <input type="text" id="post-title" name="titel" required placeholder="Der Anfang ist alles...">
            </div>
            <div>
                <label for="post-content">Inhalt:</label>
                <textarea class="post-content" id="post-content" name="inhalt" required
                          placeholder="Erzählen Sie Ihre Geschichte, teilen Sie Ihr Wissen oder inspirieren Sie andere..."></textarea>
            </div>
            <div>
                <label for="post-image-url">Bild-URL (optional):</label>
                <input type="url" id="post-image-url" name="bildUrl">
            </div>
            <div>
                <input class="button" type="submit" value="Post erstellen">
            </div>
        </form>
    </div>
</template>

<div id="post-response-message" class="post-response-message"></div>

<template id="post-response-template">
    <div>
        <h4>Ihr Artikel wurde erfolgreich hinzugefügt!</h4>
        {{ redirect("/alle_blog_artikel.html", 3500) }}
    </div>
</template>


</body>
</html>