<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>HTMX</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>

    <link rel="stylesheet" href="index.css">

</head>
<body hx-ext="client-side-templates, response-targets, json-enc">

<h1>Blog-Einträge</h1>
<div hx-get="http://localhost:8080/artikel"
        hx-target="#Eintrag"
        hx-trigger="load"
        nunjucks-template="Blog-template">Blog-Eintrag</div>
<hr>
<section id="Eintrag">

</section>

<template id="Blog-template">
    {% for Eintrag in Blogartikel %}
    <ul>
        <p>{{titel}}</p><br>
        <p>{{inhalt}}</p>
        <div><img src="{{bildUrl}}" width="500rem" alt="{{titel}}"></div>
    </ul>
    {% endfor %}}
</template>

</body>
</html>