body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #f4f4f4;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: row;
    padding-bottom: 5px;
}

nav h1 {
    margin: 0;
}

nav button {
    background-color: #354458;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: #ddd;
}

#main {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


h1 {
    color: #129888;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1em;
    color: #333;
    line-height: 1.6em;
}

button {
    display: inline-block;
    color: #fff;
    background-color: #354458;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #303F9F;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    color: #129888;
    margin-bottom: 20px;
    text-align: center;
}
p strong {
    font-weight: bold;
    color: #007bff;
}

.image-container {
    position: relative;
    max-width: 100%;
}

.image-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    z-index: 1;
    font-size:50px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.container-p {
    font-size: 18px;
    margin-bottom: 20px;
}
.container-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.container-h3 {
    font-size: 24px;
    margin-top: 30px;
}
#rank-result {
    margin-top: 20px;
    font-size: 20px;
    color: #129888;
}