body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, sans-serif;
}

nav {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-height: 40px;
}

nav button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.container-h3 {
    color: #333333;
    font-family: "Helvetica Neue",serif;
    margin-left: 10px;
    margin-top: 30px;
}

.container-p {
    margin-left: 10px;
    color: #F67366;
    font-family: Helvetica Neue,serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
}

.username {
    color: #141414;
    font-family: Helvetica Neue,serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
}

.container-button {
    background-color: white;
    color: #1da1f2;
    border: 2px solid #1da1f2;
    margin-top: 40px;
    border-radius: 8px;
    cursor: pointer;
    padding: 22px 118px;
    margin-left: 10px;

}

#main {
    margin-top: 20px;
}

#rank-result {
    margin-top: 20px;
    margin-left: 17px;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav button {
        margin: 5px 0;
    }

    .container {
        padding: 10px;
    }
}

#logout {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-button {
    margin-right: auto;
}

#logo1 {
    margin-bottom: -10px;
    width: 50px;
    height: 50px;
}

.main-container {
    display: flex;
    margin-bottom: 50px;
}

.uber-uns {
    color: white;
    display: flex;
    width: 1440px;
    height: 247px;
    padding: 35px 150px;
    background: #1DA1F2;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text {
    font-size: 20px
}

#main-image{
    height: auto;
}

@media (max-width: 1180px) {
    #main-image {
        width: 50%;
    }
}

