body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: left;
}

.image-buttons-container {
    display: flex;
    align-items: center;
}

.image {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.title {
    font-size: 96px;
    margin-bottom: 135px;
    margin-top: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Buttons nach links ausrichten */
}

.buttons button {
    margin-bottom: 10px;
    font-size: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    width: 300px;
}

#register,
#login {
    width: 100%; /* Ändere die Breite der Eingabefelder */
    max-width: 300px; /* Setze eine maximale Breite für die Eingabefelder */
    padding: 15px 30px;
    font-size: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#register {
    background-color: #007bff;
    color: white;
}

#register:hover {
    background-color: #0056b3;
}

#login {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}

#login:hover {
    background-color: #0056b3;
    color: white;
}
