body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.image-buttons-container {
    display: flex;
    justify-content: space-between; /* Sorgt für Abstand zwischen Bild und Formular */
    align-items: center;
    width: 100%;
}

.image {
    max-width: 50%;
    height: auto;
}

.title-container {
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Links ausrichten */
}

.title {
    font-size: 5em;
    margin-bottom: 10px;
    text-align: left; /* Titeltext linksbündig */
}

.untertitel {
    margin-bottom: 10px;
    text-align: left; /* Titeltext linksbündig */
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Formularelemente linksbündig */
    padding: 20px;
    width: 100%; /* Stellt sicher, dass das Formular die volle Breite nutzt */
}

label {
    margin-bottom: 5px;
    text-align: left; /* Labels linksbündig */
    width: 100%; /* Labels nehmen volle Breite ein */
}

input, button {
    padding: 15px 30px;
    margin-bottom: 15px;
    width: 100%; /* Stellt sicher, dass Eingabefelder und Button die volle Breite nutzen */
    border-radius: 20px;
}

input {
    border: 1px solid #007bff;
}

button {
    background-color: #1da1f2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0d8dd8;
}

#error-box-login {
    color: red;
    margin-top: 10px;
}
