<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Benutzerverwaltung</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>

    <link rel="stylesheet" href="mitglieder_liste.css">
</head>

<body hx-ext="client-side-templates,response-targets,json-enc">

<header>
    <nav>
        <ul class="menu-left">
            <li><a href="/hauptseite.html">Home</a></li>
            <li><a href="/alle_blog_artikel.html">Artikel</a></li>
            <li><a href="/meine-artikel">Meine Artikel</a></li>
            <li><a href="/artikel_erstellen.html">Artikel erstellen</a></li>
            <li><a href="/mitglieder_liste.html">Mitglieder</a></li>
        </ul>
        <ul class="menu-right">
            <li id="logout">
                <a href="#" hx-post="http://localhost:8080/logout"
                   nunjucks-template="logout-triggered"
                   hx-target="#logout">Logout</a>
            </li>

        </ul>
    </nav>
</header>

<div    hx-trigger="load"
        hx-get="http://localhost:8080/user"
        nunjucks-template="main-template"
        hx-target-4*="#main"
        hx-target="#main"
        id="main">
</div>


<template id="main-template">
    {% include "templates/check-session-invalid.html" %}

    <div hx-get="http://localhost:8080/users"
         hx-target="#output1"
         nunjucks-template="MitgliederListe"
         hx-trigger="every 400ms">
    </div>

    <section class="user-list">
        <h1>Unsere Community</h1>
        <table>
            <tr>
                <th>#</th>
                <th>Nutzername</th>
                <th>Rolle</th>
                <th>Aktion</th>
            </tr>
            <tbody id="output1">
            </tbody>
        </table>
    </section>
</template>


<template id="MitgliederListe">
    {% for user in list() %}
    <tr>
        <td> {{ loop.index }}</td>
        <td class="username"> {{ user.username }}</td>
        <td> {% if user.admin %}
            Administrator
            {% else %}
            Benutzer
            {% endif %}
        </td>
        <td> {% if not user.admin %}
            <button hx-post="http://localhost:8080/users/{{ user.username }}"
                    hx-target="#main-template"
                    nunjucks-template="MitgliederListe"
                    class="status-button">
                    Zum Admin befördern
            </button>
            {% else %}
            <button hx-post="http://localhost:8080/users/{{ user.username }}"
                    hx-target="#main-template"
                    nunjucks-template="MitgliederListe"
                    class="status-buttonAdmin">
                Adminrechte entziehen
            </button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</template>

<template id="logout-triggered" class="logout-message">
    Sie werden <strong>ausgeloggt ...</strong>
    <span>Auf Wiedersehen, {{username}}</span>
    {{redirect("index.html",1000)}}
</template>

</body>
</html>
