<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Registrierung</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>

    <link rel="stylesheet" href="login_register.css">
</head>
<body hx-ext="client-side-templates, response-targets, json-enc">

<div class="container">
    <div class="image-buttons-container">
        <img src="./images/logo_trans.png" alt="Hauptseite Bild" class="image">
        <div class="title-container">
            <h1 class="title">Das beschäftigt die Finanzwelt</h1>
            <div class="form-container">
                <form hx-post="http://localhost:8080/registrieren"
                      nunjucks-template="registrieren-status"
                      hx-target-4*="#error-box-login">
                    <h2 class="untertitel">Ein Konto erstellen</h2>
                    <label for="username">Benutzername</label>
                    <input type="text" id="username" name="username" value="">
                    <label for="password">Passwort</label>
                    <input type="password" id="password" name="password" value="">
                    <label for="password2">Passwort</label>
                    <input type="password" id="password2" name="password2" value="">
                    <br>
                    <button type="submit" style="width: 315px">Submit</button>
                    <p>Doch Mitglied? Klicke hier zum <a href="login.html">Login</a></p>
                    <div id="error-box-login"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<template id="registrieren-status">
    {% if error %}
    <div>
        <h4> Error </h4>
        <code>{{ message }}</code>
    </div>
    {% else %}
    <p><strong>{{ username }}</strong>, du hast dich erfolgreich registriert!</p>

    {# Redirect to home after 5000ms #}
    {{redirect("login.html",3000)}}
    {% endif %}
</template>

</body>
</html>
