<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mitglieder</title>

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>

    <link rel="stylesheet" href="users.css">
</head>

<body hx-ext="client-side-templates,response-targets,json-enc">
<div
        hx-trigger="load"
        hx-get="http://localhost:8080/user"
        nunjucks-template="main-template"
        hx-target-4*="#main"
        hx-target="#main"
        id="main">
</div>

<template id="main-template">
    {% include "templates/check-session-invalid.html" %}
    {% include "templates/navbar.html" %}

    <h1>Mitglieder-Liste</h1>

    <div hx-get="http://localhost:8080/users"
         hx-target="#output1"
         nunjucks-template="MitgliederListe"
         hx-trigger="every 400ms">
    </div>

    <section>
        <table>
            <tr>
                <th>Nummer</th>
                <th>Name</th>
                <th>Status</th>
            </tr>

            <tbody id="output1">
            </tbody>

        </table>

        <br>
        <br>

    </section>
</template>

<template id="MitgliederListe">
    {% for user in list() %}
    <tr>
        <td> {{ loop.index }}</td>
        <td> {{ user.username }}</td>
        <td> {% if user.admin %}
            Admin
            {% else %}
            Benutzer
            {% endif %}
        </td>

        <td>
            <button hx-post="http://localhost:8080/users/{{ user.username }}"
                  hx-target="#main-template"
                  nunjucks-template="MitgliederListe"
                  >Ändere
            </button>
        </td>
    </tr>
    {% endfor %}
</template>

</body>
</html>